.container{
    width: 95%;
    height: 100%;
    margin-block-end: 1rem;
    margin-inline: 1rem;
    display: grid;   
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-template-rows: 3;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.one{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;

}
.two{

    grid-column: 3;
    grid-row: 1;
}
.three{
    grid-column: 3;
    grid-row: 2;
}
.four{
    grid-column: 3;
    grid-row: 3;
}
.number{
    font-family: 'Nunito', sans-serif;
    margin-top: 0rem;
    font-size: 8rem;
}

.lista{
    width: 90%;
    list-style: none;
    /* font-weight: 600; */
    font-size: 1.6rem;
}

.lista li{
    margin-bottom:0.5rem ;

}
.listItem{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    margin: 0;
}
.listItem p{
    margin: 1rem;
}
.rojo{
    font-family: 'Nunito', sans-serif;

    color: #BD0909;
    font-weight: 700;
    font-size: 1.8rem;
}
.naranja{
    font-family: 'Nunito', sans-serif;

    color: #EB9617;
    font-weight: 700;
    font-size: 1.8rem;
}
.verde{
    font-family: 'Nunito', sans-serif;
    color: #1CA44A;
    font-weight: 700;
    font-size: 1.8rem;
}
.azul{
    
    color: #0070AF;
    font-weight: 500;
    font-size: 1.8rem;
}